<VirtualHost *:8080>
  ServerAdmin {{ serveradmin }}
  ServerName {{ domain_name }}
  DocumentRoot /var/www/vhosts/{{ domain_name }}/public_html_2
  <Directory /var/www/vhosts/{{ domain_name }}/public_html_2>
    Options FollowSymLinks
    AllowOverride All
  </Directory>
   CustomLog "/var/log/httpd/{{ domain_name }}-access_log" combined
   ErrorLog "/var/log/httpd/{{ domain_name }}-error_log"
</VirtualHost>